.tablaProducto{  
  border-width: 5px;
  background-color: #e5d8b6;
  margin-left:auto;
  margin-right: auto;
}

.tablaProducto__Encabezado{
  border: 5px solid #095484;
  color: #2f8b99;
  text-align:center;
}

.tablaProducto__Encabezado th{
  padding:10px;
}

.tablaProducto__item{
  border: 5px solid #095484;
}

.tablaProducto__item td{
  text-align:center;
}

