table {
  border-collapse: collapse;
  width: 90%;
  align-self: center;
}

th, td {
  text-align: left;
  padding: 6px;
}

tr:nth-child(even){background-color: #dbdbdb}

th {
  background-color: #4a94a6;
  color: white;
}